{% extends 'scaffold.html' %}

{% load static %}

{% load widget_tweaks %}

{% block scaffold_styles %}
    <link type="text/css" rel="stylesheet" href="{% static 'accounts/css/style.css' %}" media="screen,projection" />
{% endblock scaffold_styles %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block body %}
    <main class="container">
        <div id="login-page" class="row">
            <div class="col s12 z-depth-6 card-panel">
                <form method="POST" class="login-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12 l6">
                            <i class="material-icons prefix">edit</i>
                            {{ form.first_name|add_class:"validate" }}
                            <label for="{{ form.first_name.id_for_label }}">Nome</label>
                        </div>
                        <div class="input-field col s12 l6">
                            <i class="material-icons prefix">edit</i>
                            {{ form.last_name|add_class:"validate" }}
                            <label for="{{ form.last_name.id_for_label }}">Sobrenome</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">person_outline</i>
                            {{ form.username|add_class:"validate" }}
                            <label for="{{ form.username.id_for_label }}">Nome de Usuário</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mail_outline</i>
                            {{ form.email|add_class:"validate" }}
                            <label for="{{ form.email.id_for_label }}">E-mail</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock_outline</i>
                            {{ form.password|attr:"type:password" }}
                            <label for="{{ form.password.id_for_label }}">Senha</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button type="submit" class="btn waves-effect waves-light col s12">Sign Up</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 m6 l6">
                            <p class="margin medium-small"><a href="{% url 'accounts:signin' %}">Já possui uma conta?</a></p>
                        </div>
                    </div>

                </form>
            </div>
        </main>
{% endblock body %}