{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

    <main class="container">
        <div class="row">
            <div class="col 12">
                <h2>{{ title }}</h2>
                <div class="divider"></div>
            </div>
        </div>

        <div class="row">
            <form class="col s12" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock_outline</i>
                        {{ form.old_password|attr:"type:password" }}
                        <label for="{{ form.old_password.id_for_label }}">Senha anterior</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock_outline</i>
                        {{ form.new_password1|attr:"type:password" }}
                        <label for="{{ form.new_password1.id_for_label }}">Nova senha</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock_outline</i>
                        {{ form.new_password2|attr:"type:password" }}
                        <label for="{{ form.new_password2.id_for_label }}">Comfirma nova senha</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </main>

{% endblock content %}