{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col s12">
                <h2>{{title}}</h2>
                <div class="divider"></div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 l6">
                <img src="{{ user.userprofile.profile_image.url }}" alt="" class="responsive-img">
            </div>
            <form method="POST" enctype="multipart/form-data" class="col s12 l6">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix">edit</i>
                        {{ user_form.first_name|add_class:"validate" }}
                        <label for="{{ user_form.first_name.id_for_label }}">Nome</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix">edit</i>
                        {{ user_form.last_name|add_class:"validate" }}
                        <label for="{{ user_form.last_name.id_for_label }}">Sobrenome</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mail_outline</i>
                        {{ user_form.email|add_class:"validate" }}
                        <label for="{{ user_form.email.id_for_label }}">E-mail</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix">straighten</i>
                        {{ user_profile_form.height|add_class:"validate" }}
                        <label for="{{ user_profile_form.height.id_for_label }}">Altura</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix">mode_edit</i>
                        {{ user_profile_form.weight_goal|add_class:"validate" }}
                        <label for="{{ user_profile_form.weight_goal.id_for_label }}">Objetivo de peso</label>
                    </div>
                </div>
                <div class="row">
                    <div class="file-field input-field col s12">
                        <div class="btn">
                            <span>{{ user_profile_form.profile_image.label }}</span>
                            <input type="file" accept="image/*" id="{{ user_profile_form.profile_image.id_for_label }}" name="{{ user_profile_form.profile_image.html_name }}">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                            <span class="helper-text">Atualmente: <a target="_blank" href="{{ user.userprofile.profile_image.url }}">{{ user.userprofile.profile_image.url }}</a></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light green lighten-1" type="submit" name="action">
                            Salvar <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock content %}