{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col s12">
                <h2>{{title}}</h2>
                <div class="divider"></div>
            </div>
        </div>

        <div class="row">
            <form method="POST" class="col s12">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix">mode_edit</i>
                        {{ form.weight_value|add_class:"validate" }}
                        <label for="{{ form.weight_value.id_for_label }}">Peso</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <i class="material-icons prefix">insert_invitation</i>
                        {{ form.weight_date|add_class:"validate datepicker" }}
                        <label for="{{ form.weight_date.id_for_label }}">Data</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light green lighten-1" type="submit" name="action">
                            Salvar <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock content %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(elems, {
                format: "dd/mm/yyyy",
                i18n:{
                    cancel: "Cancelar",
                    months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro',],
                    monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez',],
                    weekdays: ['Domingo', 'Segunda-Feira', 'Terça-Feira', 'Quarta-Feira', 'Quinta-Feira', 'Sexta-Feira', 'Sábado'],
                    weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'],
                    weekdaysAbbrev: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'],
                },
            });
        });
    </script>
{% endblock scripts %}