{% extends 'scaffold.html' %}

{% load static %}

{% block scaffold_styles %}
    <style>
        .logo-img {
            max-height: 100px!important;
            padding: 5px 0!important;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"  media="screen,projection"/>
    {% block styles %}{% endblock styles %}
{% endblock scaffold_styles %}

{% block body %}
    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'weight_recorder:dashboard' %}" class="brand-logo">Weight Recorder</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a class="dropdown-trigger" href="#!" data-target="user-dropdown">
                        {{ user.get_full_name|default:user.username }}<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="https://materializecss.com/images/office.jpg">
                </div>
                <img class="circle" src="{{ user.userprofile.profile_image.url }}">
                <span class="white-text name">{{ user.get_full_name }}</span>
                <span class="white-text email">{{ user.email }}</span>
            </div>
        </li>
        <li><a href="{% url 'weight_recorder:dashboard' %}">Dashboard</a></li>
        <li><a href="{% url 'accounts:user_profile_update' %}">Atualizar Perfil</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'accounts:update_password' %}">Alterar Senha</a></li>
        <li><a href="{% url 'accounts:signout' %}">Sign Out</a></li>
    </ul>

    <!-- User Dropdown Structure -->
    <ul id="user-dropdown" class="dropdown-content">
        <li>
            <div style="width:100%" class="center"><img src="{{ user.userprofile.profile_image.url }}" alt="" class="logo-img circle responsive-img"></div>
            <div style="width:100%" class="center">
                <div class="chip">
                    IMC: {{ user.userprofile.get_imc|floatformat:2 }}
                </div>
            </div>
        </li>
        <li><a href="{% url 'accounts:user_profile_update' %}">Atualizar Perfil</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'accounts:update_password' %}">Alterar Senha</a></li>
        <li><a href="{% url 'accounts:signout' %}">Sign Out</a></li>
    </ul>

    {% block content %}
    {% endblock content %}

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
{% endblock body %}

{% block scaffold_scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems);
        });

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>
    {% include 'partials/_messages.html' %}

    {% block scripts %}{% endblock scripts %}
{% endblock scaffold_scripts %}
